---
# Handlers pour WireGuard
- name: restart wireguard
  ansible.builtin.systemd:
    name: "wg-quick@{{ wireguard_interface }}"
    state: restarted
    daemon_reload: yes

- name: reload wireguard
  ansible.builtin.command: wg syncconf {{ wireguard_interface }} {{ wireguard_config_path }}/{{ wireguard_interface }}.conf
  failed_when: false
